<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.samsung.com/">
  <ThumbIcon itemtype="string">icon/legacy__thumb-icon.png</ThumbIcon>
  <ThumbIconHD itemtype="string">icon/legacy__thumb-iconHD.png</ThumbIconHD>
  <BigThumbIcon itemtype="string">icon/legacy__big-thumb-icon.png</BigThumbIcon>
  <BigThumbIconHD itemtype="string">icon/legacy__big-thumb-iconHD.png</BigThumbIconHD>
  <ListIcon itemtype="string">icon/legacy__list-icon.png</ListIcon>
  <ListIconHD itemtype="string">icon/legacy__list-iconHD.png</ListIconHD>
  <BigListIcon itemtype="string">icon/legacy__big-list-icon.png</BigListIcon>
  <BigListIconHD itemtype="string">icon/legacy__big-list-iconHD.png</BigListIconHD>
  
  <category itemtype="string">Videos</category>
  <autoUpdate itemtype="boolean">y</autoUpdate>

  <widgetname itemtype="string">Hope.UA</widgetname>
  <ver itemtype="string">1.200</ver>
  <description itemtype="string">Телеканал «Надія» — це телебачення про найцікавіше для тих, хто любить проводити свій час з користю.</description>
  <width itemtype="string">960</width>
  <height itemtype="string">540</height>

  <fullwidget itemtype="boolean">y</fullwidget>
  <srcctl itemtype="boolean">y</srcctl>
  <childlock itemtype="boolean">n</childlock>
  <ticker itemtype="boolean">n</ticker>
  <audiomute itemtype="boolean">y</audiomute>
  <videomute itemtype="boolean">y</videomute>
  <dcont itemtype="boolean">y</dcont>

  <author itemtype="group">
    <name itemtype="string">Telekanal Nadiya, TOV</name>
    <email itemtype="string">dev.hope.ua@gmail.com</email>
    <link itemtype="string">https://tv.hope.ua/</link>
    <organization itemtype="string">Telekanal Nadiya, TOV</organization>
  </author>
</widget>