/**
 * Basic styles
 */
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.popupWrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 64%;
    padding: 8% 4%;
    background: rgba(0,0,0,.76);
    box-shadow: 0 3px 200px 8px rgba(255,255,255,.2);
    font-family: Arial;
}

.title {
    display: block;
    margin-bottom: 2%;
    font-size: 3em;
}

.message {
    display: block;
    margin-bottom: 5%;
    color: rgba(255,255,255,0.9);
    font-size: 4em;
    text-align: center;
}

.button {
    border: 3px solid #008cda;
    width: 30%;
    padding: 2% 0;
    font-size: 3.6em;
}

.buttonFocussed {
    background-color: #008cda;
    font-weight: bolder;
}

#app, #maincontainer, #homePage {
    width: inherit;
    height: inherit;
}

#homePage {
    color: #ffffff;
    font-size: 16px;
}

/**
 * Initial loader
 */
#loading-screen {
    width: inherit;
    height: inherit;
    background: url('images/loading-screen.png') no-repeat;
    background-size: cover;
}

#videoPlayer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#keyHandler {
    display: none;
    width: 0;
    height: 0;
}

#playButton {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background: url('images/playButton.png') no-repeat;
    background-size: cover;
    visibility: hidden;
    opacity: .9;
    z-index: 1;
}

#loader {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background: url('images/loader.gif') center no-repeat;
    background-size: 4%;
    visibility: hidden;
    opacity: .9;
    z-index: 1;
}


#errorPopup {
    border: 8px solid #b22222;
}

#errorTitle {
    color: #b22222;
}

/**
 * Network Status Popup
 */
#networkStatusPopup {
    border: 8px solid #e28522;
}

#networkStatusPopup .message {
    margin: 0;
}

/**
 * Exit Popup
 */
#exitPopup {
    border: 6px solid #008cda;
}

#exitPopup .message {
    margin-bottom: 8%;
    font-size: 5em;
    font-weight: bolder;
}

#buttonContainer {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* height: 31%; */
}
